---
import '../styles/global.css';
import site from '../data/site.json';
import Base from '../layouts/Base.astro';
import SiteHeader from '../components/SiteHeader.astro';
import Grid from '../components/Grid.astro';

import recent from '../data/recent.json';
import HeroPicker from '../components/HeroPicker.astro';
---

<Base
        title={`${site.authorName} ${site.tagline ?? ''}`}
        description={site.description}
>
    <SiteHeader/>
    <div class="wrap">
        <HeroPicker section={['installations','paintings', 'prints']} mode="random" showCaption={true}/>
        <h3>Recent Work</h3>
        <Grid items={recent} useLightbox={false} linkToAnchor={true} />
    </div>
</Base>
